#student {
    float: left;
    width: 40%;
}

#group {
    float: left;
    width: 30%;
}

#option {
    float: left;
    width: 30%;
}


#left {
    float: left;
    width: 65%;
}

#right {
    float: left;
    width: 35%;
}


