#main div:first-child {
    background: #ad0aad;
    font-size: 30px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    margin-right: 20px;
    margin-top: 20px;
}

#main div:nth-child(2) form {
    background-color: white;
    border-radius: 0 0 8px 8px;
    margin-right: 20px;
}

/*#main div:last-child div {*/
/*    margin-bottom: 20px;*/
/*    margin-top: 20px;*/
/*}*/

#main div:last-child {
    font-size: 30px;
}

.button {
    background-color: #671e67;
    color: white;
    border-radius: 8px 8px 8px 8px;
    border-width: 1px;
    border-color: #671e67;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}